@model MvcBasicsApp.Models.Student

<div style="border:1px solid #ccc;padding:10px;margin:5px;">
    <strong>@Model.Name</strong>  
    <br />
    Dept: @Model.Department  
    <br />
    Marks: @Model.Marks
</div>
